<footer class="footer">

<!--
  {% for item in site.data.settings.social %}
    <a href="{{ item.link }}" class="menu-link"><i class="fa fa-{{ item.icon }}" aria-hidden="true" target="_blank"></i></a>
  {% endfor %}


<div class="post-date">
	<a href="{{ site.github.url }}/">DataConscientious Consultancy LLP | {{ site.data.settings.tagline }}
        <span class="copyright">
    &copy; {{ site.time | date: '%Y' }}
       </span>
	</a>

</div>
-->

<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
</footer>
